@use '../../Styles/variables' as *;

.work-experience {
  width: 100%;
  margin-top: 100px;
  padding: 0 20px;

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
    font-family: $Header-Font;
    background-color: #4073c5;
  }

  &__subtitle {
    color: $Active-Color;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 70px;
    font-family: $Body-Font;
    opacity: 0.75;
    margin-left: 10px;
  }

  &__job-title {
    font-family: $Header-Font;
  }

  &__job-subtitle {
    font-family: $Body-Font;
  }

  &__date {
    font-family: $Body-Font;
  }

  &__icon {
    box-shadow: 0 0 0 0.2rem $Active-Color;
  }

  &__logo {
    border-radius: 50%;
    width: 100%;
    border-color: black;
  }
}
