@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$Active-Color: #8ab6f9;
$Primary-Text-Color: #f6f6f6;
$Background-Color: #2f2d37;

$Header-Font: 'Fredoka One',sans-serif, cursive;

$Body-Font: 'Nunito', sans-serif, cursive;