@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$Active-Color: #e90064;
$Primary-Text-Color: #f6f6f6;
$Background-Color: #2f2d37;

$Header-Font: 'Fredoka One',cursive;
