@use '../../Styles/variables' as *;

.category-skills {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: $Active-Color;
    font-family: $Header-Font;
  }

  &__techs {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    margin-top: 40px;
    gap: 20px;
    transition: all 0.5s;
  }
}
