@use '../../Styles/variables' as *;

.front-end-skills {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 75px;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: $Active-Color;
    font-family: $Header-Font;
  }

  &__techs {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    margin-top: 10px;
  }
}
