@use '../../Styles/variables' as *;

.modal {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 280px;
  background-color: $Active-Color;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  gap: 25px;

  &__text {
    font-size: 16px;
    color: white;
  }

  &__btn {
    font-size: 16px;
    color: white;
  }
}
