@use '../../Styles/variables' as *;

.seperator {
  width: 100%;
  background-color: #193155;
  margin-top: 4rem;
  padding: 25px 30px;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 12px;
    font-weight: bolder;
    font-family: $Body-Font;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;

    &__link {
      text-decoration: underline;
      color: #8094cd;
    }
  }
}
