@use '../../Styles/variables' as *;

.contact-me {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  padding: 0 20px;

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
    color: white;
    font-family: $Header-Font;
  }
}