@use './Styles/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  background-color: #4f4857;
}

.app-page {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: $Background-Color;
}

a,
button,
input {
  outline: none;
  border: none;
  background: none;
  text-decoration: none;

  &:hover {
    cursor: pointer !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  // display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3d3244;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f4857;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2433;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.disable-scroll {
  overflow: hidden;
}
