@use './Styles/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  background-color: $Background-Color;
}

.app-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

a, 
button,
input {
  outline: none;
  border: none;
  background: none;
  text-decoration: none;

  &:hover {
    cursor: pointer !important;
  }
}

