@use '../../Styles/variables' as *;

.about-me {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  &__description {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__title {
      letter-spacing: 2px;
      font-size: 2.5rem;
      font-weight: 700;
      color: $Primary-Text-Color;
      font-family: $Header-Font;
      margin-bottom: 1rem;

      &__wave {
          animation-duration: 2.5s;
          animation-iteration-count: infinite;
          transform-origin: 70% 70%;
          display: inline-block;
          animation-name: wave;
      }
    }

    &__me {
      font-size: 1rem;
      font-weight: 400;
      color: $Primary-Text-Color;
      font-family: $Body-Font;
      width: 82%;
      line-height: 30px;
      word-spacing: 2px;
    }
  }

  &__samurai {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    border-top-right-radius: 20px;
    background-color: transparent;
    box-sizing: border-box;
    
  }
}

@keyframes wave {
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
